@import url(https://fonts.googleapis.com/css?family=Quicksand:300,400,700);
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@font-face {
    font-family: 'Omnes';
    src: font-url('omnes-regular-webfont.eot');
    src: font-url('omnes-regular-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('omnes-regular-webfont.woff2') format('woff2'),
         font-url('omnes-regular-webfont.woff') format('woff'),
         font-url('omnes-regular-webfont.ttf') format('truetype'),
         font-url('omnes-regular-webfont.svg#omnes_regularregular') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Omnes';
    src: font-url('omnes-semibold-webfont.eot');
    src: font-url('omnes-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('omnes-semibold-webfont.woff2') format('woff2'),
         font-url('omnes-semibold-webfont.woff') format('woff'),
         font-url('omnes-semibold-webfont.ttf') format('truetype'),
         font-url('omnes-semibold-webfont.svg#omnessemibold') format('svg');
    font-weight: 600;
    font-style: normal;
}

/* --------------------------- */
/* Body, Structure, Containers */
/* --------------------------- */

body, html {
  margin: auto;
  text-align: center; 
  font-family: 'Omnes', 'Quicksand', 'Gotham', 'Helvetica', sans-serif;
  background-color: #fff;
  color: silver;
  letter-spacing: .75px;
  font-size: 1em;
  line-height: auto;
}

#outer-container {
  margin-top: 150px;
  z-index: -1;
}

#circle-container {
  display: inline-block;
  width: 90%;
}

:focus {
  outline: none;
}

ul {
  list-style: none;
  padding-left: 0px;
}

.content {
  margin-bottom: 5%;
}

#profile-results {
  width: 90%;
  margin: auto;
}

/* --------------------------- */
/* Google Map Modal */
/* --------------------------- */

#google-map {
  display: none;
  position: fixed !important;
  left: 25% !important;
  top: 25% !important;
  height: 500px !important;
  width: 50% !important;
  z-index: 100 !important;
  border: 2px solid snow !important;
}

#overlay {
  display: none;
  background: rgba(0,0,0,.35);
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

/* --------------------------- */
/* Typography, Links */
/* --------------------------- */

h1, h2, h3 {
  font-weight: 300;
}

a {
  text-decoration: none;
  color: silver;
  transition: ease .5s all;
}

a:hover {
  color: palevioletred;
}

b {
  font-weight: 600;
}

.address {
  transition: ease .5s all;
}

.address:hover {
  color: palevioletred;
  cursor: pointer;
}

/* --------------------------- */
/* Header */
/* --------------------------- */

header {
  background-color: #f8f8f8;
  top: 0px;
  position: fixed;
  width: 100%;
  margin-bottom: 20px;
  height: 115px;
  z-index: 200;
}

h1.spirit-guide {
  font-size: 48px;
  margin: 0px;
  text-align: left;
  padding-left: 10%;
  padding-top: 15px;
}

h2.spirit-guide {
  font-size: 18px;
  margin: 0;
  text-align: left;
  padding-left: 10%;
}

.welcome-message {
  top: 7.5%;
  text-align: right;
  padding-right: 10%;
  margin-top: -15px;  
}

/* --------------------------- */
/* Circles */
/* --------------------------- */

.circles {
	width: 200px;
	height: 200px;
	border-radius: 100%;
	color: snow;
	text-align: center;
	vertical-align: center;
	line-height: 200px;
	font-weight: 300;
	font-size: 24px;
	margin: 4%;
	float: left;
	display: inline-block;
	transition: ease .5s all;
}

.circles:hover {
	cursor: pointer;
	opacity: .75;
}

.yoga {
	background-color: #BDF2DF;
}

.veg {
	background-color: #A0D9C4;
}

.juice {
	background-color: #D1D9C1;
}

.farmersmarket {
	background-color: #F2E2CE;
}

.clicked {
	background-color: palevioletred;
	color: snow;
}

/* --------------------------- */
/* Search Results */
/* --------------------------- */

.business, .market {
	width: 22%;
	margin: 10px auto;
	float: left;
	display: inline-block;
	height: 250px;
	text-align: left;
  padding-left: 1.5%;
  padding-right: 1.5%;
}

.business h2, .market h2 {
	color: palevioletred;
  border-bottom: 1px dotted palevioletred;
  text-align: center;
}

#yelp-rating {
	background-color: pink;
  width: 20px;
  height: 20px;
  padding: 15px;
  border-radius: 100%;
  color: snow;
  font-weight: 600;
  vertical-align: middle;
  display: inline-block;
  text-align: center;
  font-size: 24px;
}

/* --------------------------- */
/* Buttons, Inputs */
/* --------------------------- */

button {
  padding: 7.5px;
  border: 2px solid silver;
  font-family: 'Omnes', 'Quicksand', 'Gotham', 'Helvetica', sans-serif;
  font-size: 15px;
  color: palevioletred;
  letter-spacing: .5px;
  background-color: snow;
  border-radius: 10%;
  transition: all .75s ease;
}

button:hover{
	border: 2px solid pink;
	cursor: pointer;
}

input {
  padding: 10px;
  text-align: center;
  font-family: 'Omnes', 'Quicksand', 'Gotham', 'Helvetica', sans-serif;
  font-size: 15px;
  width: 30%;
  border: 1px solid silver;
  transition: all .75s ease;
  border-radius: 10px;
  color: teal;
  font-weight: 300;
  letter-spacing: 1px;
}

input:hover {
  border: 1px solid teal;
}

/* --------------------------- */
/* Profile */
/* --------------------------- */

h2#current-user {
	color: palevioletred;
	font-size: 24px;
}

/* --------------------------- */
/* Signup Errors */
/* --------------------------- */

.field_with_errors input {
  padding: 5px;
  border: 3px solid palevioletred;
}