<h2>Search for...</h2>

<%#= button_to 'Yoga Studios' markets_path %>
<%#= button_to 'Vegetarian & Vegan Restraunts' businesses_path %>
<%#= button_to 'Juice Bars' businesses_path %>
<%#= button_to 'Farmers Markets' markets_path %>

