<h2>Search for...</h2>

<section id='circle-container'>
	<div class='circles' id='yoga' data-value='yoga'>Yoga Studios</div>
	<div class='circles' id='veg' data-value='vegetarian vegan'>Vegetarian/Vegan</div>
	<div class='circles' id='juice' data-value='juicebars'>Juice Bars</div>
	<div class='circles' id='market'>Farmers Markets</div>
</section>

<%#= button_to 'Yoga Studios' markets_path %>
<%#= button_to 'Vegetarian & Vegan Restraunts' businesses_path %>
<%#= button_to 'Juice Bars' businesses_path %>
<%#= button_to 'Farmers Markets' markets_path %>

